<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>About</title>
	{% load static %}
	<!-- CSS -->
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat%3A500%2C700%7CRoboto+Condensed:700%7CRoboto%3A700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/line-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'css/default-skin/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<!-- Icon -->
	<link rel="icon" href="{% static 'img/logo_sudips.png' %}" sizes="32x32" />
</head>

<body class="has-spotlight ashade-smooth-scroll no-top-padding">
	<!-- Header -->
	<header id="ashade-header">
		<div class="ashade-header-inner">
			<div class="ashade-logo-block">
				<a href="/" class="ashade-logo is-retina">
					<img src="{% static 'img/logo_sudips.png' %}" alt="Ashade Logo" width="128" height="110">
				</a>
			</div>
			<div class="ashade-nav-block">
				<nav class="ashade-nav">
					<ul class="main-menu">
						<li class="menu-item-has-children">
							<a href="/">Home</a>
						</li>
						<li class="menu-item-has-children">
							<a href="/works">Around The World</a>
						</li>
						<li class="menu-item-has-children">
							<a href="/stories">Photo Stories</a>
						</li>
						<li class="menu-item-has-children">
							<a href="/gallery">Gallery</a>
						</li>
						<li class="menu-item-has-children">
							<a href="/about">About Me</a>
						</li>
						<li><a href="/contacts">Contacts</a></li>
						<li>
							<a href="#" class="ashade-aside-toggler">
								<span class="ashade-aside-toggler__icon01"></span>
								<span class="ashade-aside-toggler__icon02"></span>
								<span class="ashade-aside-toggler__icon03"></span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<!-- Content -->
	<div class="ashade-page-title-wrap">
		<h1 class="ashade-page-title">
			<span>Who am I?</span>
			About Me
		</h1>
	</div>

	<main class="ashade-content-wrap">
		<div class="ashade-content-scroll">
			<div class="ashade-content">
				<!-- About Section for Desktop Layout Only -->
				<section class="ashade-section">
					<div class="ashade-row ashade-row-fullheight exclude-header">
						<div class="ashade-col col-6">
							<h2>
								<span>Few Words About Myself</span>
								Nice to Meet You
							</h2>
							<p>My name is Sudip Kumar Saha. My association with camera and photography started at a very
								tender age when I used to fiddle with my father's precious Agfa Box camera. Cameras
								always fascinated me, enthralled me and enchanted me... the very science behind any
								object being captured in a film was something which intrigued me very much. By 16, I had
								learnt about the basic components of a camera and how it is to be used to get the
								perfect shot. Seeing my enthusiasm for photography, my aunt gifted me a Vivitar film
								camera when I was still in school. This camera became my prized possession and I used to
								shoot anything and everything which caught my fancy. Thus, within no time, I became the
								family photographer.</p>
							<p>I completed my formal studies to become an IT professional. Even though my job made me
								very busy with most of my time being eaten away by my official work, I still managed to
								squeeze out some time for photography. To gain a mastery of my passion, I started going
								through books and articles related to photography and learnt about the various
								techniques. It was at this juncture, I purchased my first SLR camera. As I gained
								confidence, I started to venture out in areas of scenic abundance. My inclination was
								more to capture people from various cultures. Thus, with the passage of time - I became
								a travel photographer, travelling to remote places, capturing the untold stories of men,
								their cultures and their lands.</p>
							<p>It was during 2014 that I got acquainted with some well-known senior photographers, and
								my journey towards photography took a serious turn. I was lucky enough to accompany them
								during one of their photo tours and it was indeed a great learning experience for me. I
								felt as if I have gone through a complete metamorphosis whereby my outlook towards
								photography had immensely changed for the better. I had become more confident as a
								photographer.</p>
							<p>To me travel photography is not just capturing the beauty of the place – there is much
								more to it. The story is not complete unless one captures not only the scenic beauty but
								also culture associated with the inhabitants of the place.</p>
							<!-- <div class="align-right ashade-signature-wrap">
								<img src="{% static 'img/general/signature.png' %}" alt="Signature" width="200"
									height="116">
							</div> -->
						</div>
						<div class="ashade-col col-6 align-top hide-on-tablet-port hide-on-phone">
							<img src="{% static 'img/FB_IMG_1586754047407_2.jpg' %}" alt="Andrew Shade" width="1240"
								height="1500">
						</div>
					</div><!-- .ashade-row -->
				</section>
				<section class="ashade-section">
					<div class="ashade-row ashade-keep-on-tablet">
						<div class="ashade-col col-6">
							<div class="ashade-counter-item" data-delay="3000">
								<span class="ashade-counter-label">Photographic Distinctions</span>
								<span class="ashade-counter-value">25</span>
							</div>
						</div><!-- .ashade-col -->
						<div class="ashade-col col-6">
							<div class="ashade-counter-item" data-delay="3000">
								<span class="ashade-counter-label">Awards Won</span>
								<span class="ashade-counter-value">67</span>
							</div>
						</div><!-- .ashade-col -->
					</div><!-- .ashade-row -->
				</section>
			</div><!-- .ashade-content -->

			<!-- Footer -->
			<footer id="ashade-footer">
				<div class="ashade-footer-inner">
					<div class="ashade-footer__socials">
						<ul class="ashade-socials">
							<li><a target="_blank" href="https://www.facebook.com/sudip.kumar.saha">Fb</a></li>
							<li><a target="_blank" href="https://twitter.com/SudipSa70532885">Tw</a></li>
							<li><a target="_blank" href="https://www.instagram.com/sudip07saha/">In</a></li>
						</ul>
					</div>
					<div class="ashade-footer__copyright">
						Copyright &copy; 2020. All Rights Reserved.
					</div>
				</div>
			</footer>
		</div><!-- .ashade-content-scroll -->
	</main>

	<div class="ashade-to-top-wrap ashade-back-wrap">
		<div class="ashade-back is-to-top">
			<span>Back to</span>
			<span>Top</span>
		</div>
	</div>

	<!-- Aside Bar -->
	<aside id="ashade-aside">
		<a href="#" class="ashade-aside-close">Close Sidebar</a>
		<div class="ashade-aside-inner">
			<div class="ashade-aside-content">
				<div class="ashade-widget ashade-widget--about">
					<div class="ashade-widget--about__head">
						<img src="{% static 'img/FB_IMG_1586754047407_2.jpg' %}" alt="Andrew Shade">
						<h5>
							<span>Photographer</span>
							Sudip Kumar Saha
						</h5>
					</div>
					<p>Nice to meet you, friend! My name is Sudip Kumar Saha. My association with camera and photography
						started at a very tender age when I used to fiddle with my father's precious Agfa Box camera.
						Cameras always fascinated me, enthralled me and enchanted me... the very science behind any
						object being captured in a film was something which intrigued me very much.</p>
					<p class="align-right">
						<a href="/about" class="ashade-learn-more">Learn More</a>
					</p>
				</div><!-- .ashade-widget -->

				<div class="ashade-widget ashade-widget--contacts">
					<h5 class="ashade-widget-title">
						<span>My contacts and socials</span>
						How to find me
					</h5>
					<ul class="ashade-contact-details__list">
						<li>
							<i class="ashade-contact-icon la la-map-marker"></i>
							1250 Welton St, Denver, CO 80204
						</li>
						<li>
							<i class="ashade-contact-icon la la-phone"></i>
							<a href="tel:+11234567890">+91 98765 12345</a>
						</li>
						<li>
							<i class="ashade-contact-icon la la-envelope"></i>
							<a href="mailto:a.shade@example.com">user@gmail.com</a>
						</li>
						<li class="ashade-contact-socials">
							<i class="ashade-contact-icon la la-share-alt"></i>
							<a href="https://www.facebook.com/sudip.kumar.saha" target="_blank">Fb</a>
							<a href="https://twitter.com/SudipSa70532885" target="_blank">Tw</a>
							<a href="https://www.instagram.com/sudip07saha/" target="_blank">In</a>
						</li>
					</ul>
					<p class="align-right">
						<a href="/contacts" class="ashade-learn-more">Get in touch</a>
					</p>
				</div><!-- .ashade-widget -->

			</div><!-- .ashade-aside-content -->
		</div><!-- .ashade-aside-inner -->
	</aside>

	<!-- UI Elements -->
	<div class="ashade-menu-overlay"></div>
	<div class="ashade-aside-overlay"></div>
	<div class="ashade-cursor is-inactive">
		<span class="ashade-cursor-circle"></span>
		<span class="ashade-cursor-slider"></span>
		<span class="ashade-cursor-close ashade-cursor-label">Close</span>
		<span class="ashade-cursor-zoom ashade-cursor-label">Zoom</span>
	</div>

	<!-- SCRIPTS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/gsap.min.js' %}"></script>
	<script src="{% static 'js/jquery.lazy.min.js' %}"></script>
	<script src="{% static 'js/tiny-slider.js' %}"></script>
	<script src="{% static 'js/photoswipe.min.js' %}"></script>
	<script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'js/core.js' %}"></script>
</body>

</html>