<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Konyak</title>
    {% load static %}
    <!-- CSS -->
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat%3A500%2C700%7CRoboto+Condensed:700%7CRoboto%3A700&display=swap"
        rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/line-awesome.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Icon -->
    <link rel="icon" href="{% static 'img/logo_sudips.png' %}" sizes="32x32" />
    <style>
        .ashade-post-content p {
            text-align: center;
        }

        .ashade-post-content h6 {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 0.9em;
        }
    </style>
</head>

<body class="has-spotlight ashade-smooth-scroll">

    <header id="ashade-header">
        <div class="ashade-header-inner">
            <div class="ashade-logo-block">
                <a href="/" class="ashade-logo is-retina">
                    <img src="{% static 'img/logo_sudips.png' %}" alt="Ashade Logo" width="128" height="110">
                </a>
            </div>
            <div class="ashade-nav-block">
                <nav class="ashade-nav">
                    <ul class="main-menu">
                        <li class="menu-item-has-children">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/works">Around The World</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/stories">Photo Stories</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/about">About Me</a>
                        </li>
                        <li><a href="/contacts">Contacts</a></li>
                        <li>
                            <a href="#" class="ashade-aside-toggler">
                                <span class="ashade-aside-toggler__icon01"></span>
                                <span class="ashade-aside-toggler__icon02"></span>
                                <span class="ashade-aside-toggler__icon03"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="ashade-page-title-wrap">
        <h1 class="ashade-page-title">
            <span>Konyak</span>
            The Last Headhunters of India
        </h1>
    </div>
    <main id="post-466"
        class="ashade-content-wrap post-466 post type-post status-publish format-standard has-post-thumbnail hentry category-news-posts tag-important tag-info tag-news">
        <div class="ashade-content-scroll" style="transform: translate3d(0px, -400px, 0px);">
            <div class="ashade-content"
                style="min-height: 0px; transform: translate(0px, 0px); opacity: 1; padding-top: 0px;">
                <div class="ashade-row ">
                    <div class="ashade-col col-12">
                        <!-- Post Featured Image -->
                        <!-- Post Content -->
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <p>Nagaland, one of the "Seven Sisters" of Northeast India, is a Permit Protected state
                                    bordering Myanmar. It is inhabited by 20 different Naga tribes of mixed origin
                                    having varied cultures with different physiques and appearances. The Konyaks are one
                                    such tribe. They had a fierce past and a unique culture which is now fast losing out
                                    to modernization. The Konyaks are considered one of the richest cultural tribe
                                    amongst all the North East Indian tribes. The tiny Longwa village situated on the
                                    eastern edge of our country is home to the Konyak Naga Tribe.</p>
                                <p>Till a few decades back, the members of this tribe would pride themselves by killing
                                    both man and animals, decapitated them and displaying them as trophies. Moreover, as
                                    an honorary mark, a young man would receive a prominent facial tattoo when he
                                    managed to take an enemy's head. Even now, one can chance on living Konyak
                                    headhunters adorned with tattoos all over his torso. With the exception of these
                                    behaviors, the tribal members maintain a very disciplined community life abiding all
                                    the social duties and responsibilities. The men who were head hunters until the late
                                    1960's-70'S and the most feared warriors of their time are still seen even today if
                                    one visits a Konyak villages. They love the intoxicating flavor of opium and while
                                    enjoying their smoke they share stories of their glorious past. The unique feature
                                    of a Konyak member is their tattooed faces and adorning their houses with animal
                                    skulls.</p>
                                <p>I had travelled deep into the heart of Nagaland to the Longwa village in Mon
                                    district, hoping to document the last generation of headhunters. I had been planning
                                    this trip since 2015 and finally managed to visit the Konyaks in Dec 2016. On this
                                    trip I was lucky to meet several veteran warriors. As modernization has already
                                    spread its fangs, it is just a matter of time that the culture of the Konyaks would
                                    be leaving the face of the earth very soon. Thus it was a lifetime experience for me
                                    and I feel privileged to meet and capture their lifestyle.</p>
                            </div>
                            <div class="clear"></div>
                            <nav class="ashade-post-nav">
                            </nav>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-1.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>A former Konyak headhunter who took five heads. Many headhunters wear a brass skull
                                    necklace that denotes how many heads they have hunted. According to their beliefs,
                                    by taking the head of an enemy, they would gain some of his power and soul.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-2.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Remote Konyak villages are still ruled by individual chieftains or "Angh" as they
                                    are
                                    known in their local dialect. Anghs are easily recognised by the band of blue beads
                                    on their legs. The width of the bead-band depicts the power and prestige enjoyed by
                                    an Angh.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-3.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>The head-gear of the Konyak's were mainly made of hunted wild pigs horns, hornbill
                                    feathers and wild bear or goat hair.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-4.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>A gathering of the Konyak men in a Morong (a community home) and chanting war cries.
                                    Konyaks started wearing clothes since very recently and initially used to fight
                                    naked and bare-footed. Modernisation and influx of western culture have made the
                                    Konyaks lose their originality and thus they are now properly clothed. Only a few
                                    elderly people still live traditionally naked.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-5.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Konyak women inside a typical Konyak house. They are vast, airy, with the kitchens
                                    being the most important part. A kitchen has a fireplace in the center which keeps
                                    the house warm during cold nights.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-6.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Bones of buffaloes, deer, boars and hornbills are still found in Konyak homes.
                                    Konyaks keep animal skulls from their hunts into their homes to protect the people
                                    living inside from the evil spirits from the jungle. The quantity and size of the
                                    skulls displayed, propionates the social status of the owner. The more and bigger
                                    the skulls, the higher the social status. It is said that there was a time when
                                    human skulls too were also displayed.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-7.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Konyak lady showing her Tattoo around her knees. Ladies wore a tattoo only if they
                                    were married.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-8.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Representatives of last generation of headhunters before the practice was banned.
                                    Most of them are more now octogenarian and thus would be slowing dying out.
                                </h6>
                            </div>
                        </div>
                        <div class="ashade-post-featured-image">
                            <img src="{% static 'img/photography/Konyak/konyak-9.jpg' %}" alt="Important News"
                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5vh; margin-top: 5vh;">
                        </div>
                        <div class="ashade-post-content-wrap">
                            <div class="ashade-post-content">
                                <h6>Only those who have successfully hunted a head would have been rewarded with the
                                    prestigious facial & Body tattoo. For every head, a warrior brings back home, he is
                                    gifted with a massive tattoo either on the face or on the chest. The bigger and
                                    greater the number of tattoos, the more the warrior is respected amongst the tribe
                                    and equally feared by the enemy.
                                </h6>
                            </div>
                        </div>
                    </div><!-- .ashade-col -->
                </div><!-- .ashade-row -->
            </div><!-- .ashade-content -->
            <footer id="ashade-footer" class="ashade-copyright--right ashade-socials--left ashade-socials-state--yes">
                <div class="ashade-footer-inner">
                    <div class="ashade-footer__socials">
                        <ul class="ashade-socials ashade-socials--text">

                            <li style="opacity: 1; transform: translate(0px, 0px);">
                                <a class="ashade-social--facebook" href="https://www.facebook.com/sudip.kumar.saha"
                                    target="_blank">Fb</a>
                            </li>

                            <li style="opacity: 1; transform: translate(0px, 0px);">
                                <a class="ashade-social--twitter" href="https://twitter.com/SudipSa70532885"
                                    target="_blank">Tw</a>
                            </li>

                            <li style="opacity: 1; transform: translate(0px, 0px);">
                                <a class="ashade-social--instagram" href="https://www.instagram.com/sudip07saha/"
                                    target="_blank">In</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ashade-footer__copyright" style="opacity: 1; transform: translate(0px, 0px);">
                        Copyright © 2020. All Rights Reserved. </div>
                </div>
            </footer>
        </div><!-- .ashade-content-scroll -->
    </main>
    <!-- Back to Top -->
    <div class="ashade-to-top-wrap ashade-back-wrap is-loaded" style="top: 100%;">
        <div class="ashade-back is-to-top">
            <span>Back to</span>
            <span>Top</span>
        </div>
    </div>

    <aside id="ashade-aside">
        <a href="#" class="ashade-aside-close">Close Sidebar</a>
        <div class="ashade-aside-inner">
            <div class="ashade-aside-content">
                <div class="ashade-widget ashade-widget--about">
                    <div class="ashade-widget--about__head">
                        <img src="{% static 'img/general/owner-avatar.png' %}" alt="Andrew Shade">
                        <h5>
                            <span>Photographer</span>
                            Sudip Kumar Saha
                        </h5>
                    </div>
                    <p>Nice to meet you, friend! My name is Sudip Kumar Saha. My association with camera and photography
                        started at a very tender age when I used to fiddle with my father's precious Agfa Box camera.
                        Cameras always fascinated me, enthralled me and enchanted me... the very science behind any
                        object being captured in a film was something which intrigued me very much.</p>
                    <p class="align-right">
                        <a href="/about" class="ashade-learn-more">Learn More</a>
                    </p>
                </div><!-- .ashade-widget -->

                <div class="ashade-widget ashade-widget--contacts">
                    <h5 class="ashade-widget-title">
                        <span>My contacts and socials</span>
                        How to find me
                    </h5>
                    <ul class="ashade-contact-details__list">
                        <li>
                            <i class="ashade-contact-icon la la-map-marker"></i>
                            1250 Welton St, Denver, CO 80204
                        </li>
                        <li>
                            <i class="ashade-contact-icon la la-phone"></i>
                            <a href="tel:+11234567890">+91 98765 12345</a>
                        </li>
                        <li>
                            <i class="ashade-contact-icon la la-envelope"></i>
                            <a href="mailto:a.shade@example.com">user@gmail.com</a>
                        </li>
                        <li class="ashade-contact-socials">
                            <i class="ashade-contact-icon la la-share-alt"></i>
                            <a href="https://www.facebook.com/sudip.kumar.saha" target="_blank">Fb</a>
                            <a href="https://twitter.com/SudipSa70532885" target="_blank">Tw</a>
                            <a href="https://www.instagram.com/sudip07saha/" target="_blank">In</a>
                        </li>
                    </ul>
                    <p class="align-right">
                        <a href="/contacts" class="ashade-learn-more">Get in touch</a>
                    </p>
                </div><!-- .ashade-widget -->

            </div><!-- .ashade-aside-content -->
        </div><!-- .ashade-aside-inner -->
    </aside>

    <div class="ashade-menu-overlay"></div>
    <div class="ashade-aside-overlay"></div>
    <div class="ashade-cursor is-inactive">
        <span class="ashade-cursor-circle"></span>
        <span class="ashade-cursor-slider"></span>
        <span class="ashade-cursor-close ashade-cursor-label">Close</span>
        <span class="ashade-cursor-zoom ashade-cursor-label">Zoom</span>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/masonry.min.js' %}"></script>
    <script src="{% static 'js/core.js' %}"></script>
</body>

</html>